[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.5"


[dev-packages]

pylint = "*"
pytest = "*"
requests = "*"
"autopep8" = "*"
rope = "*"


[packages]

cryptography = "*"
netstruct = "*"
appdirs = "*"
click = "*"
terminaltables = "*"
python-iptables = "*"
elevate = "*"
gevent = "*"
mock = "*"
pytest-mock = "*"
