[Unit]
Description=MagicPortKnocker server (https://github.com/MissMuffin/magicportknocker)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/portknock-server
WorkingDirectory=/home/ubuntu/magicportknocker/

[Install]
WantedBy=multi-user.target